<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terri.hd.eventspro.mapper.EventMapper">
  <resultMap id="BaseResultMap" type="com.terri.hd.eventspro.entity.Event">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="original_link" jdbcType="LONGVARCHAR" property="originalLink" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from events
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.terri.hd.eventspro.entity.Event">
    insert into act01 (id, name, category, 
      city, location, address, 
      start_time, end_time, detail, 
      pics, orginal_link)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{detail,jdbcType=VARCHAR}, 
      #{pics,jdbcType=VARCHAR}, #{originalLink,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.terri.hd.eventspro.entity.Event">
    update events
    set name = #{name,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      detail = #{detail,jdbcType=VARCHAR},
      pics = #{pics,jdbcType=VARCHAR},
      orginal_link = #{originalLink,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, category, city, location, address, start_time, end_time, detail, 
    pics, orginal_link
    from events
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select id, name, category, city, location, address, start_time, end_time, detail, 
    pics, original_link
    from events
  </select>
  <select id="findByCate" resultMap="BaseResultMap">
    select id, name, category, city, location, address, start_time, end_time, detail,
    pics, original_link
    from events
    where category=#{category}
  </select>
  <!--模糊查询-->
  <select id="findByCity" resultMap="BaseResultMap">
    select id, name, category, city, location, address, start_time, end_time, detail,
    pics, original_link
    from events
    where city like concat(#{city},'%')
  </select>
</mapper>