<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terri.hd.eventspro.mapper.UserEventColMapper">
  <resultMap id="BaseResultMap" type="com.terri.hd.eventspro.pojo.UserEventCol">
    <!--@mbg.generated-->
    <!--@Table event_user_col-->
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="user_openid" jdbcType="VARCHAR" property="userOpenid" />
    <result column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="event_cate" jdbcType="VARCHAR" property="eventCate" />
    <result column="event_city" jdbcType="VARCHAR" property="eventCity" />
    <result column="event_location" jdbcType="VARCHAR" property="eventLocation" />
    <result column="event_address" jdbcType="VARCHAR" property="eventAddress" />
    <result column="event_img" jdbcType="LONGVARCHAR" property="eventImg" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    uuid, user_openid, event_id, event_name, event_cate, event_city, event_location, 
    event_address, event_img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from event_user_col
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByEventIdAndOpenid" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from event_user_col
    where event_id = #{param1,jdbcType=VARCHAR} and user_openid = #{param2,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.terri.hd.eventspro.pojo.UserEventCol">
    <!--@mbg.generated-->
    insert into event_user_col (uuid, user_openid, event_id, 
      event_name, event_cate, event_city, 
      event_location, event_address, event_img
      )
    values (#{uuid,jdbcType=VARCHAR}, #{userOpenid,jdbcType=VARCHAR}, #{eventId,jdbcType=VARCHAR}, 
      #{eventName,jdbcType=VARCHAR}, #{eventCate,jdbcType=VARCHAR}, #{eventCity,jdbcType=VARCHAR}, 
      #{eventLocation,jdbcType=VARCHAR}, #{eventAddress,jdbcType=VARCHAR}, #{eventImg,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.terri.hd.eventspro.pojo.UserEventCol">
    <!--@mbg.generated-->
    insert into event_user_col
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="userOpenid != null">
        user_openid,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="eventName != null">
        event_name,
      </if>
      <if test="eventCate != null">
        event_cate,
      </if>
      <if test="eventCity != null">
        event_city,
      </if>
      <if test="eventLocation != null">
        event_location,
      </if>
      <if test="eventAddress != null">
        event_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userOpenid != null">
        #{userOpenid,jdbcType=VARCHAR},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventCate != null">
        #{eventCate,jdbcType=VARCHAR},
      </if>
      <if test="eventCity != null">
        #{eventCity,jdbcType=VARCHAR},
      </if>
      <if test="eventLocation != null">
        #{eventLocation,jdbcType=VARCHAR},
      </if>
      <if test="eventAddress != null">
        #{eventAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.terri.hd.eventspro.pojo.UserEventCol">
    <!--@mbg.generated-->
    update event_user_col
    <set>
      <if test="userOpenid != null">
        user_openid = #{userOpenid,jdbcType=VARCHAR},
      </if>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        event_name = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventCate != null">
        event_cate = #{eventCate,jdbcType=VARCHAR},
      </if>
      <if test="eventCity != null">
        event_city = #{eventCity,jdbcType=VARCHAR},
      </if>
      <if test="eventLocation != null">
        event_location = #{eventLocation,jdbcType=VARCHAR},
      </if>
      <if test="eventAddress != null">
        event_address = #{eventAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.terri.hd.eventspro.pojo.UserEventCol">
    <!--@mbg.generated-->
    update event_user_col
    set user_openid = #{userOpenid,jdbcType=VARCHAR},
      event_id = #{eventId,jdbcType=VARCHAR},
      event_name = #{eventName,jdbcType=VARCHAR},
      event_cate = #{eventCate,jdbcType=VARCHAR},
      event_city = #{eventCity,jdbcType=VARCHAR},
      event_location = #{eventLocation,jdbcType=VARCHAR},
      event_address = #{eventAddress,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>

  <select id="selectEventByOpenId" resultType="java.lang.String">
    select event_id from event_user_col where user_openid = #{openId,jdbcType=VARCHAR}
  </select>

  <select id="selectAllCollected" resultMap="BaseResultMap" parameterType="string">
    select * from event_user_col where user_openid = #{openId,jdbcType=VARCHAR}
  </select>
</mapper>